@import "../../styles.scss";

:host{
    position: relative;

    z-index: 10;
}

.show-modal-button{
    position: absolute;
    width: fit-content;
    display: block;
    padding: 0.25em;

    left: -1.25em;
    top: calc(140px + 2.5rem);

    border: 1px solid $color-text-secondary;
    border-radius: 3px;

    font-weight: bold;
    line-height: 1.7em;
    color: $color-text-secondary;
    transform: rotateZ(90deg);

    user-select: none;

    transition: all $transition-length-default;
    cursor: pointer;

    &:hover{
        color: white;
        border: 1px solid white;
        background-color: $color-accent;

        left: 0em;
    }
}